<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li><a href="#/meetings">Meetings</a></li>
  <li class="active">{{ meeting.name }}</li>
</ol>

<!-- Agenda/Minutes Buttons -->
<a class="btn btn-default pull-right" ng-href="{{ meeting.minutes.pdf }}" ng-if="meeting.minutes.approved">Minutes PDF</a>
<a class="btn btn-default pull-right" ng-href="{{ meeting.agenda.pdf }}" ng-if="meeting.agenda.approved">Agenda PDF</a>

<!-- Name -->
<h1>{{ meeting.name }}</h1>

<!-- About -->
<h3>Meeting Information</h3>
<p><strong>Location:</strong> {{ meeting.location || "unknown" }}<br />
  <strong>Date & Time:</strong> {{ meeting.date_and_time || "unknown" }}<br />
  <strong>Committee:</strong> <a ng-href="#/committees/{{ meeting.organization.id }}">{{ meeting.organization.name }}</a>
</p>
<h4 ng-if="meeting.attendees.length">Attendees</h4>
<ul>
  <li ng-repeat="attendee in meeting.attendees"><a ng-href="#/people/{{ attendee.id }}">
    {{ attendee.first }} {{ attendee.last }}
  </a></li>
</ul>

<!-- Docket -->
<h3>Meeting Docket</h3>
<h4 ng-if="meeting.orders_of_business.length">Initial Orders of Business</h4>
<ul>
  <li ng-repeat="order in meeting.orders_of_business">
    {{ order.title }}
    <span ng-if="item.text"><br /><em>{{ order.text }}</em></span>
  </li>
</ul>

<h4>Bill Docket</h4>
<ul>
  <li ng-repeat="bill in meeting.bills | orderBy:'id'"><a ng-href="#/bills/{{ bill.id }}">
    #{{ bill.id }}: {{ bill.short_title }}
  </a></li>
</ul>
