<!DOCTYPE html>
<html ng-app="bill">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above three meta tags must precede all other meta tags in <head> -->
    <meta name="description" content="Track bills in the Troy, NY City Council">
    <meta name="author" content="Lee Sharma">

    <title>Bill Tracker | Troy, NY</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="vendor/stylesheets/anchor.css" />
    <link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
  </head>

  <body>
    <!-- Facebook JS SDK -->
    <div id="fb-root"></div>
    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3&appId=439320609561158";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#left-nav">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bill Tracker</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="left-nav">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Bills <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Meetings</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Committees</a></li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">

      <!-- Bill Information -->
      <div ng-controller="BillController as billCtrl">
        <!-- Download PDF -->
        <a class="pull-right btn btn-default" target="_blank"
           ng-href="{{ billCtrl.bill.pdf }}"
           ng-show="billCtrl.bill.pdf">
          Download PDF
        </a>

        <!-- Title -->
        <h1 id="{{ 'bill-' + billCtrl.bill.id }}" ng-show="billCtrl.bill.id" ng-cloak>
          {{ billCtrl.bill.short_title }}
          <em class="small" ng-cloak>{{ billCtrl.bill.legislation_type }} {{ billCtrl.bill.id }}</em>
        </h1>
        <h1 ng-hide="billCtrl.bill.id">No Bill Found</h1>

        <blockquote ng-show="billCtrl.bill.id" ng-cloak>{{ billCtrl.bill.title | uppercase }}</blockquote>

        <!-- Tabs -->
        <section ng-controller="TabController as tabCtrl">
          <ul class="nav nav-tabs">
            <li role="presentation" ng-class="{ active:tabCtrl.isSet(0) }">
              <a href ng-click="tabCtrl.setTab(0)">Full Text</a>
            </li>
            <li role="presentation" ng-class="{ active:tabCtrl.isSet(1) }">
              <a href ng-click="tabCtrl.setTab(1)">History</a>
            </li>
          </ul>

          <!-- Full Text -->
          <div class="panel" ng-show="tabCtrl.isSet(0)">
            <!-- Preamble -->
            <div class='panel full-text' ng-show="billCtrl.bill.id" ng-cloak>
              <h3 class='text-center' ng-show="billCtrl.bill.preamble.recitals.length">Preamble</h3>
              <h5 ng-repeat="recital in billCtrl.bill.preamble.recitals">
                <strong>{{ recital.prefix }}</strong>
                {{ recital.clause }}
              </h5>
              <h4 id='enacting-formula' class='text-center'><strong>{{ billCtrl.bill.preamble.enacting_formula | uppercase }}</strong></h4>

              <ol>
                <li ng-repeat="section in billCtrl.bill.main_content.sections">
                  <h4 id="{{ 'section-' + ($index + 1) }}">{{ section.heading }} <small>{{ section.subheading }}</small></h4>
                  <p ng-hide="section.sub_sections.length">{{ section.body }}</p>
                  <ol ng-show="section.sub_sections.length">
                    <p>{{ section.chapeau }}</p>
                    <li ng-repeat="subsection in section.sub_sections">
                      <p ng-hide="subsection.paragraphs.length">{{ subsection.body }}</p>
                      <p ng-show="subsection.paragraphs.length">{{ subsection.chapeau }}</p>
                      <ol ng-show="subsection.paragraphs.length">
                        <li ng-repeat="paragraph in subsection.paragraphs">
                          <p ng-hide="paragraph.subparagraphs.length">{{ paragraph.body }}</p>
                          <ol ng-show="paragraph.subparagraphs.length">
                            <p>{{ paragraph.chapeau }}</p>
                            <li ng-repeat="subparagraph in paragraph.subparagraphs">
                              <p>{{ subparagraph.body }}</p>
                            </li>
                            <p>{{ paragraph.continuation }}</p>
                          </ol>
                        </li>
                        <p>{{ subsection.continuation }}</p>
                      </ol>
                    </li>
                    <p>{{ section.continuation }}</p>
                  </ol>
                </li>
              </ol>
            </div>
            <blockquote ng-hide="billCtrl.bill.main_content">Bill body not found</blockquote>
          </div>

            <!-- History -->
          <div class="panel" ng-show="tabCtrl.isSet(1)">
            <h2>Bill History</h2>
            <blockquote>none recorded</blockquote>
            <h3>Sponsoring Members</h3>
            <blockquote>none recorded</blockquote>
            <h3>Votes</h3>
            <blockquote>none recorded</blockquote>
          </div>

        </section>
      </div>

      <!-- Facebook Comments -->
      <div class="fb-comments" data-href="http://troy-open-data.github.io/bill_tracker"
                               data-numposts="5"
                               data-colorscheme="light"
                               width="100%"></div>
    </div>

    <!-- Core JavaScript
    ================================================== -->
    <!-- Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

    <!-- Anchor links -->
    <script type="text/javascript" src="vendor/javascripts/anchor.min.js"></script>

    <!-- Angular -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
    <!--
    ================================================== -->
  </body>
</html>
