<!-- Breadcrumbs -->
<ol class="breadcrumb">
  <li class="active">Bills</li>
</ol>

<h1>Listing Bills</h1>

<!-- Search Bills -->
<form class="form-search">
  <input type="text" class="form-control search-query" placeholder="Search bills" ng-model="search.input.$" />
</form>

<!-- Bill Listing -->
<div class="panel panel-default" ng-repeat="bill in bills | orderBy:'-id' | filter:search.input">
  <div class="panel-heading">
    <h3 class="panel-title"><a ng-href="#/bills/{{ bill.id }}">{{ bill.short_title }}</a>
      <span class="pull-right badge">{{ bill.legislation_type }}</span>
    </h3>
  </div>
  <div class="panel-body">
    {{ bill.title }}
  </div>
</div>
