<div class="jumbotron">
  <h1>Bill Tracker</h1>
  <p class="lead">
    Discover the people, organizations, and bills behind policy in Troy, NY.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/bills">Track Bills</a></p>
</div>

<div class="row marketing">
  <h4>Track Bills</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Track People</h4>
  <p>
    Discover the members of the Troy City Council and its associated committees.
  </p>

  <h4>Track Meetings</h4>
  <p>
    Spectacular Test Runner for JavaScript.
  </p>

  <h4>Track Committees</h4>
  <p>
    Spectacular Test Runner for JavaScript.
  </p>
</div>
